.sidebar {
  position: fixed;
  left: 0;
  top: 0; /* Alineado con el header */
  width: 250px;
  height: 100%; /* Ocupa toda la altura */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('https://static3.makeuseofimages.com/wordpress/wp-content/uploads/2010/10/HTML-Code-Examples-Featured.jpg');
  background-size: cover; /* Hace que la imagen cubra todo el sidebar */
  background-position: center; /* Centra la imagen */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999; /* Aseguramos que esté detrás del header */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para el sidebar */
  color: #ddd; /* Color del texto para que sea visible sobre la imagen */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 50px 0 0 0; /* Margen superior para dejar espacio al header */
}

.sidebar li a {
  display: block;
  padding: 15px 20px;
  color:  white;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
}

.sidebar li a:hover {
  background-color: grey; /* Fondo semitransparente en hover */
  color: #ffffff;
}
